.spacer {
  flex: 1 1 auto;
}

.user-welcome,
mat-button-toggle-group {
  margin: 0px 15px;
}

@media (max-width: 700px) {
  .header-text,
  .user-welcome {
    display: none;
  }

  mat-button-toggle {
    font-size: 10px;
  }
}
